.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
.btn {
    background:#e11525;
    padding:1.3rem 2rem 1rem;
    font-family:  $fontComic;
    font-size:22px;
    border:3px solid #e23f38;
    color:#ffffff;
    text-transform: uppercase;
    &:hover , &:focus, &:active {
        color:#ffffff;
    }
}
