.card {
    position:relative;
    margin-bottom:30px;
    .tools {
        position:absolute;
        top:0-5px;
        right:-5px;
        width:50px;
        .square {
            height:50px;
            width:50px;
            text-align: center;
            line-height:50px;
            a {
                color:#ffffff;
                height:50px;
                width:50px;
                display:block;
            }
            i {
                vertical-align: middle;
                font-size:25px;
            }
        }
    }
    img {
        display:block;
        margin:auto;
    }
    .comicTitle {
        max-width: 268px;
        margin:auto;
        h4 {
            font-family:$fontComic;
            font-size:24px;
            margin:15px 0 0;
            a {
                color:$blue;
            }
        }
        h5 {
            font-size:16px;
            line-height: 1.5;
            a {
                color:#0e0e24;
            }
        }
    }
}
