.clear:after {
    clear:both;
    content:"";
    display:block;
}
.container {
    .home-h2 {
        text-align:center;
        text-transform: uppercase;
        margin:2rem;
    }

}
/* home page */
body.home {
    #page {
        margin:0;
        max-width:100%;
        .join {
            margin-top:40px;
            padding-top:80px;
            background: url(../images/join.jpg) top center no-repeat;
            height:850px;
            text-align: center;
            color:#ffffff;
            img {
                margin:50px 0 25px;
            }
            h2 {
                font-size: 25px;
            }
        }
    }
}
