.clear:after {
    clear:both;
    content:"";
    display:block;
}
.container {
    margin-top: 120px;
    @include breakpoint(small down) {
        margin-top:96px;
    }

}
.noPadding {
    padding:0;
}
.txtred {
    color:$red;
}
.txtblue {
    color: $blue;
}
.bgred {
    background-color:$red;
}
.bgblue {
    background-color: $blue;
}

#page {
    &.cover {
        &::before {
            background: url(../images/cover-page.jpg) top center no-repeat;
            background-size: 100% 475px;
            height: 475px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top:120px;
            z-index: 0;
        }
        > * {
            position: relative;
            z-index: 1;
        }
    }
}

/* home page */
body.home {
    #page {
        margin:0;
        max-width:100%;
        .join {
            background: url(../images/join.jpg) top center no-repeat;
            height:850px;
            text-align: center;
            color:#ffffff;
            position:relative;
            @include breakpoint(medium down) {
                height:auto;
                background-size: cover;
            }
            @media screen and (max-width: 40em) {
                margin-top:96px;
            }
            img.biglogo {
                margin:100px 0 25px;
                @include breakpoint(medium down) {
                    padding:0 3rem;
                    margin:50px 0 25px;
                }
            }
            h2 {
                font-size: 25px;
                margin-bottom:70px;
                @include breakpoint(medium down) {
                    padding:0 3rem;
                }
            }
            .arguments-list {
                margin-top:140px;
                position: relative;
                z-index: 3;
                @include breakpoint(medium down) {
                    margin-top:70px;
                }
                .argument {
                    div {
                        background:#fff;
                        color:#000000;
                        min-height:343px;
                        padding-top:2rem;
                        border-bottom:7px solid #dfdede;
                        box-shadow:0 0 20px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.2), 0 50px 130px rgba(0, 0, 0, 0.15);
                        @include breakpoint(medium down) {
                            min-height:auto;
                            margin-bottom:1rem;
                            padding-bottom:2rem;
                        }
                        h3 {
                            font-size:18px;
                            font-family: $fontComic;
                            line-height: 28px;
                            margin-top: 2rem;
                            margin-bottom:2rem;
                        }
                        p {
                            font-size:14px;
                            line-height:28px;
                            margin:0;
                        }
                    }
                }
            }
        }
        .bigSearch {
            background:#1cbfe5;
            background: url(../images/bgblue.jpg) top left;
            position:relative;
            color:#fff;
            padding-top:180px;
            padding-bottom:75px;
            @include breakpoint(medium down) {
                padding: 2rem 0;
            }
            h4 {
                font-family:$fontComic;
                text-align:center;
                margin:80px auto 70px;
                font-size:30px;
                @include breakpoint(medium down) {
                    margin:0 auto 2rem;
                }
            }
            form {
                width:70%;
                margin:auto;
                @include breakpoint(medium down) {
                    width:100%;
                    padding:0 1rem;
                }
                input[type=text] {
                    border:0;
                    height:70px;
                    line-height: 70px;
                    padding:0 15px;
                    background-color: rgba(255, 255, 255, 0.5);
                    font-size:18px;
                    color:#ffffff;
                    font-family: $fontComic;
                    &::-webkit-input-placeholder { color:transparent; }
                    &::-moz-placeholder { color:transparent; } /* firefox 19+ */
                    &:-ms-input-placeholder { color:transparent; } /* ie */
                    &:-moz-placeholder { color:transparent; }
                    @include breakpoint(medium down) {
                        height:40px;
                        line-height: 40px;
                    }
                }
                input[type=submit] {
                    border:0;
                    height:70px;
                    color:#ffffff;
                    background: #000000;
                    width:100%;
                    font-size:22px;
                    font-family: $fontComic;
                    @include breakpoint(medium down) {
                        height:40px;
                        font-size:16px;
                    }
                }
            }
        }
        .tendancesMarvel {
            background: url(../images/tendances.jpg) bottom center no-repeat;
            padding-top:100px;
            padding-bottom:150px;
            @include breakpoint(medium down) {
                padding:50px 0;
                background-size: cover;
            }
            h3 {
                font-family: $fontComic;
                font-size:110px;
                color:#dfdede;
                text-align:center;
                margin-top:15px;
                margin-bottom:90px;
                @include breakpoint(medium down) {
                    font-size:40px;
                    margin-bottom:20px;
                }
            }
        }
    }
}
#footer-container {
    margin-top:0;
    .newsletter {
        background:$blue;
        padding:75px 0;
        color:#ffffff;
        position:relative;
        @include breakpoint(small) {
            padding:30px 0;
        }
        h3 {
            font-family:$fontComic;
            font-size:35px;
            line-height:1.3;
            margin-bottom:70px;
        }
        .form {
            >.columns {
                &:first-of-type {
                    padding-right:0;
                }
                &:last-of-type {
                    padding-left:0;
                }
                input {
                    height:70px;
                    line-height: 70px;
                    font-size:18px;
                    border:0;
                    color:#000000;
                    display:block;
                    width:100%;
                    padding:0 20px;
                    &.submit {
                        font-family: $fontComic;
                        background: #000000;
                        color:#ffffff;
                        font-size:22px;
                    }
                }
            }
        }
        .heroes {
            position:absolute;
            right:0;
            bottom:0;
            padding-right:0 !important;
            max-height:430px;
            max-width:calc( 100% / 3);
            @include breakpoint(medium only) {
                max-height:350px;
            }
            @include breakpoint(small only) {
                display:none;
            }
        }
    }
    footer {
        background:#0e0e24;
        padding:80px 0 40px;
        color:#ffffff;
        @include breakpoint(small) {
            padding:30px 0;
        }
        ul {
            list-style: none;
            a {
                color:#ffffff;
            }
        }
        .logomenu {
            img {
                @include breakpoint(small) {
                    padding:0 10%;
                    margin-bottom:20px;
                }
            }
            ul {
                li {
                    font-family:$fontComic;
                    font-size:18px;
                    margin-bottom:10px;
                    a {
                        display:block;
                    }
                }
            }
        }
        .follow {
            margin-top:3rem;
            font-size:0;
            @include breakpoint(small) {
                margin-top:1rem;
            }
            .followWrapper {
                border-top: 1px solid $blue;
                border-bottom: 1px solid $blue;
                @include breakpoint(small down) {
                    width:100%;
                }
                h3 {
                    font-family:$fontComic;
                    line-height:70px;
                    height:70px;
                    display:inline-block;
                    vertical-align: top;
                    font-size:25px;
                    @include breakpoint(small) {
                        font-size:16px;
                        margin-bottom:0;
                    }
                }
                ul {
                    margin-left:0;
                    padding-left:10px;
                    line-height:70px;
                    height:70px;
                    display:inline-block;
                    vertical-align: top;
                    font-size:25px;
                    @include breakpoint(small) {
                        font-size:16px;
                        margin-bottom:0;
                    }
                    li {
                        margin:0 10px;
                        display:inline-block;
                        a {
                            i {
                                display:inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
    .by361 {
        background: #ffffff;
        height:45px;
        line-height: 45px;
        font-size:14px;
    }
}
