section.bloc-comics{
    display: block;
    background:url(../images/bg-single.png) center center;
    height: 500px;
    @include breakpoint(medium down) {
        height:auto;
        padding-bottom:45px;
    }
    .fiche-serie{
        margin-bottom: 80px;
        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
        img{
            display:block;
            margin:auto;
            margin-bottom: 70px;
            &.main-img {
                @include breakpoint(small down) {
                    width:50%;
                    margin-bottom:35px;
                }
            }
        }
        .texte-serie{
            display: inline-block;
            .btn{
                @include breakpoint(small down) {
                    padding:0.7rem 1.4rem;
                }
                a{
                    display: inline-block;
                    font-family: roboto;
                    color: #fff;
                    font-size: 16px;
                    font-weight:bold;
                    text-transform: uppercase;
                    @include breakpoint(small down) {
                        font-size: 14px;
                    }
                }
                i{
                    padding-left: 20px;
                    font-size: 25px;
                    display:inline-block;
                    vertical-align: middle;
                }
            }
            .square {
                &.bgblue {
                    float:right;
                    @include breakpoint(1130px down) {
                        float:none;
                    }
                }
                @include breakpoint(1130px down) {
                    float:none;
                    width:100%;
                    display:block;
                    margin-bottom:10px;
                    text-align: center;
                }
            }
            .title-serie{
                margin-top: 50px;
                @include breakpoint(medium down) {
                    margin-top: 35px;
                }
                .picto-book{
                    margin-right : 10px;
                    margin-bottom: 0px;
                    display:inline-block;
                }

                h2{
                    font-size: 30px;
                    color: $blue;
                    font-family: $fontComic;
                    display: inline-block;
                    text-transform: uppercase;
                    @include breakpoint(small down) {
                        font-size: 18px;
                    }
                }
                p{
                    display: inline-block;
                    color: #fff;
                    font-weight: 700;
                    font-size: 20px;
                    margin-left: 5px;
                    @include breakpoint(small down) {
                        font-size: 14px;
                        margin-bottom:0;
                    }
                }
                h3{
                    font-size: 30px;
                    color: $blue;
                    font-family: $fontComic;
                    display: inline-block;
                    @include breakpoint(small down) {
                        font-size: 18px;
                    }

                }
            }
            .description-scroll{
                margin-top: 30px;
                font-size: 18px;
                line-height: 28px;
                font-weight: 200;
                color: #fff;
                height:125px;
                overflow-y: scroll;
                text-align: justify;
                padding-right:10px;
                @include breakpoint(small down) {
                    font-size: 13px;
                    height:auto;
                    font-weight:normal;
                    padding-right:0;
                }
            }
        }
    }
}
.results{
    p{
        a{

        }
    }
}

.tri{

    padding: 0px;

    label{
        display: inline-block;
        font-size: 16px;
        font-weight: 700;

    }
    select{
        width: 180px;
        display: inline-block;
        float: right;
        padding: none;

    }
}
