section.bloc-comics{
    display: block;
    background-color: grey;
    height: 500px;

    .fil{
        ul{
            margin: 0px;
            li{
                display: inline-block;
                font-size: 12px;
                padding-right: 15px;
                margin: 45px 0px;
                color: #fff;
                a{
                    color: #fff;
                }
                i{
                    color: $blue;
                }
            }
        }
    }
    .fiche-serie{
        margin-bottom: 80px;

        img{
            float: left;
            margin-left: 0px;
            z-index: 5px;
            margin-bottom: 70px;
        }
        .texte-serie{
            display: inline-block;

            .btn{

                a{
                    display: inline-block;
                    font-family: roboto;
                    color: #fff;
                    font-size: 16px;

                }
                i{
                    padding-left: 20px;
                    font-size: 25px;
                }
            }
            .bgblue{
                float: right;
                margin-right: 0px;
            }
            .title-serie{
            margin-top: 50px;
                img{
                    margin-right : 10px;
                }
                h2{
                    font-size: 30px;
                    color: $blue;
                    font-family: $fontComic;
                    display: inline-block;
                }
                p{
                    display: inline-block;
                    color: #fff;
                    font-weight: 700;
                    font-size: 20px;
                    margin-left: 15px;
                    margin-right: 0px;
                }
            }
            .description-scroll{
                margin-top: 30px;
                font-size: 18px;
                line-height: 28px;
                font-weight: 200;
                color: #fff;
            }
        }
    }
}
aside.social-networks{

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 25px;
        float: right;
        li{
            display: inline-block;
            a{
                i{
                    font-size: 30px;
                    padding-left: 30px;
                    color: $darkblue;

                }

            }
        }
    }
}
.results{
    p{
        a{

        }
    }
}

.tri{

    padding: 0px;

    label{
        display: inline-block;
        font-size: 16px;
        font-weight: 700;

    }
    select{
        width: 180px;
        display: inline-block;
        float: right;
        padding: none;

    }
}
