.loginpageWrapper {
    @include breakpoint(medium down) {
        height:auto;
    }
    .loginpage {
        .logForm {
            padding:50px;
            background:#ffffff;
            margin-top:100px;
            min-height: 500px;
            background: url(../images/motif-log.jpg) top center repeat;
            @include breakpoint(small down) {
                padding:20px;
                min-height:auto;
                    margin:10px 0;
            }
            h2 {
                font-family: $fontComic;
                font-size:30px;
                color:$blue;
                text-align: center;
                text-transform: uppercase;
                margin-bottom:45px;
                @include breakpoint(small down) {
                    font-size:22px;
                    margin-bottom:20px;
                }
            }
            label {
                display:none;
            }
            input {
                height: 70px;
                border:1px solid black;
                margin-bottom:50px;
                padding:15px;
                @include breakpoint(small down) {
                    height:40px;
                    margin-bottom:20px;
                    padding:0 10px;
                }
                &[type=submit] {
                    margin-bottom: 0;
                }
            }
            div {
                &.wpum-login-form {
                    p {
                        text-align: right;
                        &:last-of-type {
                            width:200px;
                            font-family: $fontComic;
                            border:0;
                            float:right;
                            @include breakpoint(small down) {
                                float:none;
                                width:100%;
                            }
                            input {
                                width:100%;
                                border:0;
                                font-size:22px;
                                color:#fff;
                                text-transform: uppercase;
                                &#wpum_loginformwp-submit {
                                    background:$blue;
                                }
                            }
                        }
                    }
                }
                &.wpum-registration-form-wrapper {
                    p {
                        text-align: right;
                        &.wpum-password-recovery-url {
                            text-align: left;
                        }
                        &:last-of-type {
                            width:200px;
                            font-family: $fontComic;
                            border:0;
                            float:right;
                            @include breakpoint(small down) {
                                float:none;
                                width:100%;
                            }
                            input {
                                min-width:100%;
                                border:0;
                                font-size:22px;
                                color:#fff;
                                text-transform: uppercase;
                                &#submit_wpum_register {
                                    background:$red;
                                }
                            }
                        }
                    }
                }
                .wpum-registration-form {
                    .fieldset-comments {
                        display:none;
                    }
                }
            }
            .wpum-helper-links {
                .wpum-password-recovery-url {
                    text-align: left;
                    line-height:70px;
                    @include breakpoint(small down) {
                        line-height:1;
                    }
                    margin:0;
                }
            }
        }
        .logFormRegister {
            @include breakpoint(medium down) {
                margin-bottom:100px;
            }
            @include breakpoint(small down) {
                margin-bottom:10px;
                margin-top:0;
            }
        }
    }
}
body.wpum-login-page {
    #footer-container  {
        .newsletter {
            h3 {
                margin:35px 0;
            }
        }
    }
}
