.top-bar {
    background: rgba(14,14,36,0.5);
    ul {
        background:none;
    }
  .menu .home a {
    font-size: 1rem;
    padding:0 !important;
    color: #B9B9B9;
    img {
        max-height:80px;
    }
    :hover:not(.button){
        background:0;
    }
  }

  .menu {
      li {
          a {
              height: 80px;
              line-height: 80px;
              color: #ffffff;
              padding-top: 0;
              padding-bottom: 0;
              font-weight: bold;
              font-size: 16px;
              font-family: $fontComic;
              border-bottom: 5px solid transparent;
              border-top:5px solid transparent;
              transition:border-bottom 0.2s ease;
              &:hover {
                  background-color: 0;
                  border-bottom:5px solid #2aa0d7;
              }
          }
          &.current-menu-item {
              a {
                  border-bottom:5px solid #2aa0d7;
              }
          }
      }
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: 0;
    }
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }
    &.main-navigation {
        height:80px;
        box-shadow:0 1px 0 rgba(255,255,255,0.26);
        .menu-item {
            height:80px;
        }
    }

}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.site-header {
    position:fixed;
    top:0;
    width:100%;
}

.admin-bar .site-header  {
    top:32px;
    @media screen and (max-width: 782px) {
        top:46px;
    }
}

.tool-bar {
    font-family: $fontComic;
    height:40px;
    line-height:40px;
    background: #ffffff;
    a {
        color:#000;
    }
    .row {
        div:last-of-type {
            text-align:right;
        }
    }
}
